{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block main-content %}
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    table tr th,
    table tr td {
        padding: 3px !important;
        margin: 3px !important;
        font-size: 10px;
    }
</style>
<div class="page w3-animate-left w3-animate-opacity" style="margin-top: 90px; display: flex;">

    <!-- Header logo -->
    <header style="border-bottom: 4px solid #CFE2F3; padding-bottom: 10px;">
        <div class="w3-cell-row" style="align-items: center;">
            <div class="w3-cell">
                <img src="{% static 'app_invoices/images/topvalue.png' %}" alt="logo-header" style="width:200px;">
            </div>
        </div>
    </header>
    <div style="margin-top: -20px;">
        <p style="margin:0; padding:0; font-size: 10px; color: #002060;">
            Nongbouathong Road, PhonsavatTai Village, Sikhottabong District, Vientiane Capital, Lao PDR <br>
            Tel: +85621 254377, Fax: +85621 254300, Email: sales@topvalueservice.com, Website: www.topvalueservice.com
        </p>
    </div>

    <!-- Section: Quotation Info -->
    <div class="w3-container">
        <h1 class="w3-center" style="color: #002060; margin-bottom: 20px;"><strong><u>Purchase Order</u></strong></h1>
        <div class="w3-cell-row" style="width: 100%; margin-top: -20px;">
            <div class="w3-cell" style="vertical-align: top;">
                <p><b>To: {{ generate_po_form.supplier.name }} </b> <br>
                    {{ generate_po_form.supplier.address_1 }} <br>
                    {{ generate_po_form.supplier.address_2 }} <br>
                    Gen: {{generate_po_form.supplier.contact_1}}, Ext. {{generate_po_form.supplier.contact_2}} | Fax: {{generate_po_form.supplier.fax}}<br>
                </p>
            </div>
            <div class="w3-cell w3-right" style="vertical-align: top;">
            <p class="w3-right">
                <b>Purchase Order No: </b>{{ generate_po_form.po_id }} <br>
                <b>Date: </b>{{ generate_po_form.start_date|date:"d/m/Y" }}
            </p>
            </div>
        </div>
    </div>

    <!-- Table: Quotation Items -->
    <div class="w3-container">
        <table class="w3-table" style="margin-top: 10px;">
            <tr style="background-color:#002060;">
                <th class="w3-border w3-center w3-text-white" style="width:5%; vertical-align: middle;">No</th>
                <th class="w3-border w3-center w3-text-white" style="width:23%; vertical-align: middle;">Product Descriptions</th>
                <th class="w3-border w3-center w3-text-white" style="width:22%; vertical-align: middle;">Tenant</th>
                <th class="w3-border w3-center w3-text-white" style="width:10%; vertical-align: middle;">Quantity</th>
                <th class="w3-border w3-center w3-text-white" style="width:10%; vertical-align: middle; font-size: 10px;">Subscription <br> Month to Cover</th>
                <th class="w3-border w3-center w3-text-white" style="width:10%; vertical-align: middle;">Billing Plan</th>
                <th class="w3-border w3-center w3-text-white" style="width:10%; vertical-align: middle;">Unit Price</th>
                <th class="w3-border w3-center w3-text-white" style="width:10%; vertical-align: middle;">Amount(USD)</th>
            </tr>
            {% for item in generate_po_form.items.all %}
            <tr>
                <td class="w3-border w3-center">{{ forloop.counter }}</td>
                <td class="w3-border">{{ item.product_name }}</td>
                <td class="w3-border">
                    {% if generate_po_form.customer.tenant %}
                        {{ generate_po_form.customer.tenant.tenant_name }} <br>
                        {{ generate_po_form.customer.tenant.tenant_domain }}
                    {% endif %}
                </td>
                <td class="w3-border" style="text-align: center;">{{ item.qty }}</td>
                <td class="w3-border" style="text-align: center;">{{ item.period }}</td>
                <td class="w3-border" style="text-align: right;">{{ generate_po_form.billing_plan|capfirst }}</td>
                <td class="w3-border" style="text-align: right;">{{ item.price|floatformat:2|intcomma }}</td>
                <td class="w3-border" style="text-align: right;">{{ item.total_one_product|floatformat:2|intcomma }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="w3-center w3-text-red">No items found in this quotation.</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4"></td>
                <td colspan="3" class="w3-border w3-text-white" style="text-align: right; background-color: #002060;"><strong>TOTAL:</strong></td>
                <td class="w3-border" style="text-align: right;"><strong>{{ generate_po_form.total_all_products|floatformat:2|intcomma }}</strong></td>
            </tr>
        </table>

        <!-- Terms and Conditions -->
            <div style="margin-top: -20px; font-size: 10px; line-height: 1.6;">
                <p><b><i>Payment Terms:</i></b></p>
                <p style="margin-left: 50px; margin-top: -10px;"><i> Annual commitment, bill monthly</i></p>
            </div>

            <div class="w3-container" style="margin-top: 100px;">
                <!-- 
                {% comment %}
                    <p>
                        <img src="{{ generate_po_form.approved_by.stamp.url }}" 
                            alt="Stamp and Signature" 
                            style="width: 180px;"> <br>
                        <strong>
                            {{ generate_po_form.approved_by.name }} 
                            {{ generate_po_form.approved_by.last_name|upper }}
                        </strong>
                    </p> 
                {% endcomment %}
                -->
                <p>_________________________________________________________</p>
                <p style="font-size: 10px;">AUTHORIZED SIGNATORY <br>
                    DATE:
                </p>
            </div>
    </div>
</div>
<div class="float-btn w3-animate-right">
    <div class="w3-dropdown-hover w3-round-xxlarge" style="position: relative;">
        <a href="{% url 'app_po:generate_po_pdf' generate_po_form.po_id %}" class="w3-button w3-button w3-blue w3-round-xxlarge w3-hover-shadow w3-hover-red"><i class="fa fa-download"></i> ດາວໂຫລດໃບສັ່ງຊື້</a>
    </div>   
</div>
{% endblock %}