{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block main-content %}
<div class="w3-container" style="margin-top: 70px;">
    <div class="w3-container w3-animate-left">
        <h1 class="lao-noto">{{ title }}</h1>
        {% include 'snippets/filter.html' with form_action=filter_url search_placeholder="ຄົ້ນຫາດ້ວຍເລກໃບເກັບເງິນ, ບໍລິສັດ, ຊືຜູ້ຕິດຕໍ, ເລກທີໃບສະເຫນີລາຄາ" status_label="ເລືອກສະຖານະ" status_options=status_list show_date=True %}
        <table class="w3-table w3-hoverable w3-striped w3-bordered">
            <tr class="w3-blue-dark-light w3-padding">
                <th class="w3-border" style="text-align: center;">ລຳດັບ</th>
                <th class="w3-border" style="text-align: center;">ເລກທີ່ສັນຍາ</th>
                <th class="w3-border" style="text-align: center;">ບໍລະສັດ</th>
                <th class="w3-border" style="text-align: center;">ສິນຄ້າ</th>
                <th class="w3-border" style="text-align: center;">ລາຄາ</th>
                <th class="w3-border" style="text-align: center;">ຈຳນວນ</th>
                <th class="w3-border" style="text-align: center;">ໄລຍະເວລາ</th>
                <th class="w3-border" style="text-align: center;">ລາຄາລວມ</th>
                <th class="w3-border" style="text-align: center;">ວັນທີອອກສັນຍາ</th>
                <th class="w3-border" style="text-align: center;">ວັນທີຫມົດອາຍຸ</th>
                <th class="w3-border" style="text-align: center;">ສະຖານະ</th>
            </tr>
                {% for contract in all_contracts %}
                    <tr>
                        <td class="w3-border">{{forloop.counter}}</td>
                        <td class="w3-border">{{contract.contract_id}}</td>
                        <td class="w3-border">{{contract.customer.company_name}}</td>
                        <td class="w3-border">
                            {% for item in contract.quotation.items.all %}
                                {{ forloop.counter }}. {{item.product_name}} <br>
                            {% endfor %}
                        </td>
                        <td class="w3-border">
                            {% for item in contract.quotation.items.all %}
                                {{item.price}} USD <br>
                            {% endfor %}
                        </td>
                        <td class="w3-border">
                            {% for item in contract.quotation.items.all %}
                                {{item.qty}} <br>
                            {% endfor %}
                        </td>
                        <td class="w3-border">
                            {% for item in contract.quotation.items.all %}
                                {{item.period}} <br>
                            {% endfor %}
                        </td>
                        <td class="w3-border">
                            {{contract.quotation.total_all_products}} USD
                        </td>
                        <td class="w3-border">
                            {{contract.start_contract|date:"d-m-Y"}}
                        </td>
                        <td class="w3-border">
                            {{contract.end_contract|date:"d-m-Y"}}
                        </td>
                        <td class="w3-border w3-center" style="vertical-align: middle;">
                            <div class="w3-tooltip">
                                <a href="{% url 'app_contracts:contract_details' contract.contract_id %}" class="w3-padding-small">
                                    {% if contract.get_status_display == 'ກຳລັງໃຊ້ງານ'  %}
                                    <span class="w3-tag w3-padding w3-green w3-card-4 w3-round w3-hover-deep-orange" style="width: 100px;">
                                        {{contract.get_status_display}}
                                    </span>
                                    {% elif contract.get_status_display == 'ຮ່າງ' %}
                                    <span class="w3-tag w3-padding w3-blue w3-card-4 w3-round w3-hover-deep-orange" style="width: 100px;">
                                        {{contract.get_status_display}}
                                    </span>
                                    {% elif contract.get_status_display == 'ຫມົດອາຍຸການນຳໃຊ້' %}
                                    <span class="w3-tag w3-padding w3-red w3-card-4 w3-round w3-hover-deep-orange" style="width: 100px;">
                                        {{contract.get_status_display}}
                                    </span>
                                    {% else %}
                                    <span class="w3-tag w3-padding w3-black w3-card-4 w3-round w3-hover-deep-orange" style="width: 100px;">
                                        {{contract.get_status_display}}
                                    </span>
                                    {% endif %}
                                </a>
                                <!-- Tooltip hover -->
                                <span class="w3-text w3-tag w3-card w3-round w3-dark-light w3-padding w3-animate-top w3-opacity-min"
                                    style="position:absolute;right:100%;top:50%;transform:translateY(-50%); width: 300px;">
                                    ຄິກທີ່ສະຖານະເພື່ອເຂົ້າເບິງລາຍລະອຽດຂອງສັນຍາ: {{ contract.contract_id }}
                                </span>
                            </div>
                        </td>

                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="12" class="w3-red w3-text-white w3-padding">ບໍມີຂໍ້ມູນໃດໆ</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
