{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block main-content %}
<div class="w3-container" style="margin-top: 70px;">
    <div class="w3-container w3-animate-left">
        <h1 class="lao-noto">{{ title }}</h1>
        {% include 'snippets/filter.html' with form_action=filter_url search_placeholder="ຄົ້ນຫາດ້ວຍເລກໃບເກັບເງິນ, ບໍລິສັດ, ຊືຜູ້ຕິດຕໍ, ເລກທີໃບສະເຫນີລາຄາ" status_label="ເລືອກສະຖານະທັ່ງຫມົດ" status_options=status_list show_date=True %}
        <table class="w3-table w3-hoverable w3-striped w3-bordered">
            <tr class="w3-blue-dark-light w3-padding">
                <th class="w3-border" style="text-align: center;">ລຳດັບ</th>
                <th class="w3-border" style="text-align: center;">ໃບເກັບເງິນ</th>
                <th class="w3-border" style="text-align: center;">ບໍລິສັດ</th>
                <th class="w3-border" style="text-align: center;">ສິນຄ້າ</th>
                <th class="w3-border" style="text-align: center;">ລາຄາ</th>
                <th class="w3-border" style="text-align: center;">ຈຳນວນ</th>
                <th class="w3-border" style="text-align: center;">ໄລຍະເວລາ</th>
                <th class="w3-border" style="text-align: center;">ລາຄາລວມ</th>
                <th class="w3-border" style="text-align: center;">ວັນທີ່ຫມົດອາຍຸ</th>
                <th class="w3-border" style="text-align: center;">ການຈັດການ</th>
            </tr>

            {% for invoice in all_invoices %}
                <tr>
                    <td class="w3-border">{{ forloop.counter }}</td>
                    <td class="w3-border">{{ invoice.invoice_id }}</td>
                    <td class="w3-border">{{ invoice.quotation.customer.company_name }}</td>
                    <td class="w3-border">
                        {% for item in invoice.quotation.items.all %}
                            {{ forloop.counter }}. {{ item.product_name }} <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: right; padding-right: 15px;">
                        {% for item in invoice.quotation.items.all %}
                            {{ item.price }} USD <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: center;">
                        {% for item in invoice.quotation.items.all %}
                            {{ item.qty }} <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: center;">
                        {% for item in invoice.quotation.items.all %}
                            {{ item.period }} <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: right; padding-right: 15px;">
                        {% for item in invoice.quotation.items.all %}
                            {{ item.total_one_product | intcomma }} USD <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: center;">{{ invoice.due_date|date:'d-m-Y' }}</td>
                    <td class="w3-border">
                        <a href="{% url 'app_invoices:invoice_details' invoice.invoice_id %}" class="w3-button w3-round-large w3-hover-shadow w3-green w3-hover-blue w3-padding-small w3-margin-small" style="width: 80px;">ລາຍລະອຽດ</a>
                        <a href="{% url 'app_invoices:delete_invoice' invoice.invoice_id %}" class="w3-button w3-round-large w3-hover-shadow w3-red w3-hover-deep-orange w3-padding-small w3-margin-small" style="width: 80px;">ລືບ</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10" class="w3-red w3-text-white w3-padding">ບໍມີຂໍ້ມູນໃດໆ</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
